.navbar-color-scheme-default{
	background-color: rgb(251,251,251);
	border-color: rgba(150,150,150,0.2);
}
.navbar-color-scheme-highContrast{
	background-color: rgb(3,3,3);
	border-color: rgba(251,251,251,0.9);
}

.box-shadow-3px-4px-2px-rgba-221-126-192-p3{
	box-shadow: 3px 4px 2px rgba(221, 126, 192, 0.3);
}
.border-color-rgba-150-150-150-p75{
	border-color: rgba(150,150,150,0.75);
}
.border-style-solid{
	border-style: solid;
}
.border-2px{
	border-width: 2px;
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
.color-inherit{
	color: inherit;
}
.float-left{
	float: left;
}
.float-none{
	float: none;
}
.font-size-p85em{
	font-size: 0.85em;
}
.font-weight-600{
	font-weight: 600;
}
.left-0{
	left: 0;
}
.list-style-type-none{
	list-style-type: none;
}
.margin-auto{
	margin: auto;
}
.margin-bottom-2em{
	margin-bottom: 2em;
}
.padding-left-1em{
	padding-left: 1em;
}
.padding-bottom-p25em{
	padding-bottom: 0.25em;
}
.padding-top-p25em{
	padding-top: 0.25em;
}
.padding-top-1em{
	padding-top: 1em;
}
.position-fixed{
	position: fixed;
}
.text-center{
	text-align: center;
}
.top-0{
	top: 0;
}
.width-8em{
	width: 8em;
}
.width-50pc{
	width: 50%;
}