.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.left-0{
	left: 0;
}
.padding-bottom-p25em{
	padding-bottom: 0.25em;
}
.padding-left-p25em{
	padding-left: 0.25em;
}
.padding-right-p25em{
	padding-right: 0.25em;
}
.padding-top-p5em{
	padding-top: 0.5em;
}
.text-center{
	text-align: center;
}
