.bg-242-242-242{
	background-color: rgb(242,242,242);
}
.border-color-rgba-150-150-150-p2{
	border-color: rgba(150,150,150,0.2);
}
.border-style-solid{
	border-style: solid;
}
.border-width-2-0-0-0{
	border-width: 2px 0 0 0;
}
.clear-both{
	clear: both;
}
.font-size-p75em{
	font-size: 0.75em;
}
.margin-auto{
	margin: auto;
}
.padding-left-p5em{
	padding-left: .5em;
}
.padding-right-p5em{
	padding-right: .5em;
}
.padding-top-p5em{
	padding-top: 0.5em;
}
.width-90pc{
	width: 90%;
}