.artProjectPage-color-scheme-default{
	background-color: rgb(251,251,251);
	background: linear-gradient(to bottom, rgb(251, 251, 251) 0%, #fffffc 40%, #fdff71 85%, 
	#f5ff64 95%);
	color: rgb(5,5,5);
}
.artProjectPage-color-scheme-highContrast{
	background-color: rgb(0,0,0);
	color: rgb(252,252,252);
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.margin-auto{
	margin: auto;
}
.max-width-60em{
	max-width: 60em;
}
.padding-left-0em{
	padding-left: 0;
}
.padding-left-6p5em{
	padding-left: 6.5em;
}
.width-90pc{
	width:90%;
}