.display-inline-block{
	display: inline-block;
}
.width-75pc{
	width: 75%;
}

/* 
	responsive video embed code by @jeffehobbs
	https://github.com/jeffehobbs/embedresponsively
*/
.video-embed-container{
	position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
}
.video-embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}