.display-block{
	display: block;
}
.font-weight-600{
	font-weight: 600;
}
.display-block{
	display: block;
}
.list-style-position-outside{
	list-style-position: outside;
}
.text-indent-neg1p7em{
	text-indent: -1.7em;
}
.margin-bottom-p35em{
	margin-bottom: 0.35em;
}
.margin-left-1p7em{
	margin-left: 1.7em;
}