.a-color-scheme-default{
	text-decoration: underline rgb(20,20,255) double;
	border: solid 2px rgba(255,255,255,0);
}
.a-color-scheme-default:focus, a:hover{
	background-color: rgb(0,0,87);
	color: rgb(251,251,251);
	text-decoration: underline rgb(255,254,91) double;
	border: solid 2px rgb(209,0,129);
	cursor: pointer;
}
.a-color-scheme-highContrast{
	border: solid 2px rgba(0,0,0,0);
	text-decoration: underline rgb(255,254,91) double;
}
.a-color-scheme-highContrast:focus, a:hover{
	background-color: rgb(251,251,251);
	color: rgb(3,3,3);
	text-decoration: underline rgb(20,20,255) double;	
	border: solid 2px rgb(255,179,223);
	cursor: pointer;
}

.color-inherit{
	color: inherit;
}