.footer-border-color-scheme-default{
	border-color: rgba(150,150,150,0.05);
	background-color: rgba(251,251,251,0.4);
}
.footer-border-color-scheme-highContrast{
	border-color: rgba(251, 252, 254, 0.8);
	background-color: rgb(7,7,0);
}
.footer-body-color-scheme-default{
	border-color: rgba(150,150,150,0.2);
	background-color: rgb(251, 252, 252);
}
.footer-body-color-scheme-highContrast{
	border-color: rgba(251, 252, 254, 0.8);
	background-color: rgb(7,7,0);
}
.box-shadow-3px-4px-2px-rgba-221-126-192-p3{
	box-shadow: 3px 4px 2px rgba(221, 126, 192, 0.3);
}
.border-style-solid{
	border-style: solid;
}
.border-width-2px{
	border-width: 2px;
}
.clear-both{
	clear: both;
}
.color-inherit{
	color: inherit;
}
.font-size-p85em{
	font-size: 0.85em;
}
.font-size-p9em{
	font-size: 0.9em;
}
.margin-bottom-2em{
	margin-bottom: 2em;
}
.margin-top-1em{
	margin-top: 1em;
}
.padding-bottom-p25em{
	padding-bottom: 0.25em;
}
.padding-bottom-1em{
	padding-bottom: 1em;
}
.padding-left-1em{
	padding-left: 1em;
}
.padding-right-1em{
	padding-right: 1em;
}
.padding-top-p25em{
	padding-top: 0.25em;
}
.padding-top-1em{
	padding-top: 1em;
}
.text-center{
	text-align: center;
}
.width-100pc{
	width: 100%;
}