.artProjectPage-color-scheme-default{
	background-color: rgb(251,251,251);
	background: linear-gradient(to bottom, rgb(253, 255, 231) 0%, rgb(253, 255, 231) 10%, rgb(249, 255, 177) 40%, #fdff71 85%, 
	#f3ff47 95%);
	color: rgb(5,5,5);
}
.artProjectPage-color-scheme-highContrast{
	background-color: rgb(0,0,0);
	color: rgb(252,252,252);
}
.projectPage-color-scheme-default{
	background-color: rgb(251,251,251);
	background: linear-gradient(to bottom, rgb(251, 251, 251) 0%, rgb(244, 249, 255) 77%,rgb(144, 188, 255) 90%, rgb(110, 77, 255) 98%);
	color: rgb(5,5,5);
}
.projectPage-color-scheme-highContrast{
	background-color: rgb(0,0,0);
	background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(0, 1, 5) 50%,rgb(0, 4, 17) 95%);
	color: rgb(252,252,252);
}
.filmProjectPage-color-scheme-default{
	background-color: rgb(251,251,251);
	background: linear-gradient(to bottom, rgb(235, 249, 255) 0%, rgb(235, 249, 255) 10%, rgb(193, 232, 255) 40%, rgb(104, 200, 255)75%, rgb(89, 194, 255) 90%, rgb(10, 165, 255) 95%);
	color: rgb(5,5,5);
}
.filmProjectPage-color-scheme-highContrast{
	background-color: rgb(0,0,0);
	color: rgb(252,252,252);
}
.healthProjectPage-color-scheme-default{
	background-color: rgb(251,251,251);
	background: linear-gradient(to bottom, rgb(255, 247, 235) 0%, rgb(255, 242, 222) 10%, rgb(255, 223, 174) 40%, rgb(253, 206, 134)75%, rgb(255, 188, 88) 90%, rgb(255, 181, 70) 95%);
	color: rgb(5,5,5);
}
.healthProjectPage-color-scheme-highContrast{
	background-color: rgb(0,0,0);
	color: rgb(252,252,252);
}
.videoProjectPage-color-scheme-default{
	background-color: rgb(251,251,251);
	background: linear-gradient(to bottom, rgb(255, 237, 246) 0%,rgb(255, 237, 246) 10%,rgb(255, 190, 225) 40%, rgb(255, 167, 214) 75%, rgb(255, 141, 202) 90%,rgb(255, 92, 179) 95%);
	color: rgb(5,5,5);
}
.videoProjectPage-color-scheme-highContrast{
	background-color: rgb(0,0,0);
	color: rgb(252,252,252);
}
.webProjectPage-color-scheme-default{
	background-color: rgb(251,251,251);
	background: linear-gradient(to bottom, rgb(254, 255, 232) 0%, rgb(254, 255, 232) 10%,rgb(191, 255, 183) 40%,rgb(189, 253, 147) 75%, rgb(183, 255, 161) 90%, rgb(0, 255, 115) 95%);
	color: rgb(5,5,5);
}
.webProjectPage-color-scheme-highContrast{
	background-color: rgb(0,0,0);
	color: rgb(252,252,252);
}
.bottom-0{
	bottom: 0;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.margin-auto{
	margin: auto;
}
.max-width-60em{
	max-width: 60em;
}
.padding-left-0em{
	padding-left: 0;
}
.padding-left-6p5em{
	padding-left: 6.5em;
}
.position-fixed{
	position: fixed;
}
.right-0{
	right: 0;
}
.width-3em{
	width: 3em;
}
.width-90pc{
	width:90%;
}