.border-solid-2px-blue{
	border: solid 1px blue;
}
.float-left{
	float: left;
}
.text-center{
	text-align: center;
}
.padding-left-0{
	padding-left: 0;
}
.padding-bottom-p15em{
	padding-bottom: 0.15em;
}
.padding-top-p15em{
	padding-top: 0.15em;
}
.width-7p15em{
	width: 7.15em;
}