.homepageProjectLinksContainer-color-scheme-default{
	background-color: rgb(242,242,242);
	border-color: rgba(150,150,150,0.2);
}
.homepageProjectLinksContainer-color-scheme-highContrast{
	background-color: rgb(34, 5, 18);
	border-color: rgba(150,150,150,0.8);
}
.border-style-solid{
	border-style: solid;
}
.border-width-2-0-0-0{
	border-width: 2px 0 0 0;
}
.clear-both{
	clear: both;
}
.color-inherit{
	color: inherit;
}
.display-inline{
	display: inline;
}
.font-size-p75em{
	font-size: 0.75em;
}
.margin-auto{
	margin: auto;
}
.padding-left-p3em{
	padding-left: .3em;
}
.padding-right-p3em{
	padding-right: .3em;
}
.padding-left-p5em{
	padding-left: .5em;
}
.padding-right-p5em{
	padding-right: .5em;
}
.padding-top-p5em{
	padding-top: 0.5em;
}
.width-90pc{
	width: 90%;
}