.homepageProjectLinksContainer-color-scheme-default{
	background-color: rgb(242,242,242);
	border-color: rgba(150,150,150,0.2);
}
.homepageProjectLinksContainer-color-scheme-highContrast{
	background-color: rgb(34, 5, 18);
	border-color: rgba(150,150,150,0.8);
}
.align-items-center{
	align-items: center;
}
.border-style-solid{
	border-style: solid;
}
.border-width-2-0-0-0{
	border-width: 2px 0 0 0;
}
.clear-both{
	clear: both;
}
.color-inherit{
	color: inherit;
}
.display-flex{
	display: flex;
}
.display-inline-flex{
	display: inline-flex;
}
.flex-direction-row{
	flex-direction: row;
}
.flex-wrap-wrap{
	flex-wrap: wrap;
}
.font-size-p75em{
	font-size: 0.75em;
}
.margin-auto{
	margin: auto;
}
.padding-left-p3em{
	padding-left: .3em;
}
.padding-right-p3em{
	padding-right: .3em;
}
.padding-left-p5em{
	padding-left: .5em;
}
.padding-right-p5em{
	padding-right: .5em;
}
.padding-top-p5em{
	padding-top: 0.5em;
}
.text-center{
	text-align: center;
}
.width-90pc{
	width: 90%;
}