.box-shadow-3px-4px-2px-rgba-221-126-192-p3{
	box-shadow: 3px 4px 2px rgba(221, 126, 192, 0.3);
}
.border-style-solid{
	border-style: solid;
}
.border-color-rgba-150-150-150-p2{
	border-color: rgba(150,150,150,0.2);
}
.border-2px{
	border-width: 2px;
}
.color-black{
	color: rgb(5,5,5);
}
.clear-both{
	clear: both;
}
.margin-auto{
	margin: auto;
}
.margin-bottom-2em{
	margin-bottom: 2em;
}
.margin-top-1em{
	margin-top: 1em;
}
.width-100pc{
	width: 100%;
}
.homepage-project-container:nth-child(odd) {
	background-color: rgb(250, 250, 250);
}
.homepage-project-container:nth-child(even) {
	background-color: rgb(255, 245, 251);
}