.color-inherit{
	color: inherit;
}
.text-center{
	text-align: center;
}
.homepage-project-container:nth-child(odd) {
	background-color: rgb(250, 250, 250);
}
.homepage-project-container:nth-child(even) {
	background-color: rgb(255, 245, 251);
}