.display-inline{
	display: inline;
}
.float-left{
	float: left;
}
.height-2em{
	height: 2em;
}
.height-3em{
	height: 3em;
}
.homepage-background-gradient{
	background: rgb(250, 250, 250);
	background: linear-gradient(to bottom, rgb(250, 250, 250) 0%, #fffcfc 7%, #e3f0ff 17%, #fcffe0 43%, #fde9f3 69%, #fcffd0 95%, #f8ff8f 100%);	
}
.margin-auto{
	margin: auto;
}
.max-width-45em{
	max-width: 45em;
}
.padding-left-p25em{
	padding-left: .25em;
}
.padding-right-p25em{
	padding-right: .25em;
}
.padding-top-1em{
	padding-top: 1em;
}
.text-center{
	text-align: center;
}
.width-10pc{
	width: 10%;
}
.width-85pc{
	width: 85%;
}
.width-100pc{
	width: 100%;
}
